/* Global styles */

/* * {
  box-sizing: border-box;
  color: #59544a;
} */

@font-face {
  src: url(fonts/LouisGeorgeCafe.ttf);
  font-family: "LouisGeorgeCafe";
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@media (min-width: 300px) {
  .navbar {
    top: 70px;
  }

}

#Jumbotron {
  font-family: 'Helvetica Neue', Helvetica;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


body {
  background-color: #F2F2F2;
  text-align: justify;
  font-size: 20px;
  font-family: "LouisGeorgeCafe";
}

/*Titel stijlen*/

h1 {
  font-size: 60px;
  text-align: center;
  /* font-weight: 800; */
}

h2 {
  font-size: 40px;
  text-align: center;
}


/* Afbeeldingen  */
#afbeelding {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  max-width: 100%;
  height: auto;
}

/* Video  */
video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*Talensterke: staafdiagriam */

.staafdiagram {
  width: 200px;
  background-color: #59544a;
}

.talen {
  text-align: right;
  color: #59544a;
  margin-bottom: 2px;
}

.nederlands {
  width: 100%;
  padding: 5px;
  background-color: #f2f2f2;
  border: solid;
  border-color: #59544a;
}

.frans {
  width: 75%;
  padding: 5px;
  background-color: #f2f2f2;
  border: solid;
  border-color: #59544a;
}

.engels {
  width: 90%;
  padding: 5px;
  background-color: #f2f2f2;
  border: solid;
  border-color: #59544a;
}